:root {
    --bg-color: #343434;
    --content-color: #3c1521;
    --nav-color: #101c38;

    --highlight-color1: #e8d34c;
    --highlight-color2: #daa520;

    --text-color: white;
    --shaded-color: #888;

    --text-highlight1: #6bbe4d;
    --text-highlight2: #bcebff;
    --text-highlight3: #ff4a69;

    --box-shadow: 3px 3px 5px;
    --text-shadow: 1.5px 1.5px 2px black;

    --nav-a-size: 1.5rem;
    --p-size: 1rem;
    --h1-size: 2.25rem;
    --h2-size: 1.5rem;

    --indent-size: 30px;

    --nav-active-scale: 1.1;
}

@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-Regular.ttf');
    font-style: sans-serif;
}

@keyframes scale {
    100% {
        color: var(--highlight-color1);
        font-size: calc(var(--nav-a-size) * var(--nav-active-scale));
    }
}

html, body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: ". content .";
    grid-template-columns: auto 995px auto;
    grid-template-rows: auto;
}

nav {
    background-color: var(--nav-color);
    box-shadow: var(--box-shadow);
    display: grid;
    grid-area: nav;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-content: center;
}

nav a {    
    color: var(--text-color);
    font-family: Poppins;
    font-size: var(--nav-a-size);
    text-decoration: none;
}

nav a:hover {
    animation: scale 0.25s forwards;
    text-decoration: none;
}

nav a.active {
    color: var(--highlight-color1);
    font-size: calc(var(--nav-a-size) * var(--nav-active-scale));
}

h1, h2, h3, h4 {
    color: var(--text-color);
    font-family: Poppins;
    /*text-shadow: var(--text-shadow);*/
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h4 {
    margin: 0;
}

label {
    color: var(--text-color);
}

p, li {
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: var(--p-size);
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 22px;
}

ul, ol {
    padding: 0;
}

a {
    color: var(--highlight-color2);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

article {
    border-top: 0.1px solid #888;
    padding: var(--indent-size) 0 var(--indent-size);
}

article:first-child {
    border: none;
}

article:last-of-type {
    border-bottom: 0.1px solid #888;
}

h1 + *,
h2 + *,
h3 + * {
    margin-left: var(--indent-size);
    margin-right: var(--indent-size);
}

code {
    border: 1px solid;
    border-color: #1d1d1d #4b4b4b #4b4b4b #1d1d1d;
}

li {
    list-style-position: inside;
}

figure {
    margin: 0;
}

figcaption {
    color: #afaaa6;
    font-size: var(--p-size);
    font-style: italic;
    margin-top: 28px;
    text-align: center;
}

.indent {
    margin-left: var(--indent-size);
}

.hidden {
    clip: rect(1px, 1px, 1px, 1px);
}

.highlight1 {
    color: var(--text-highlight1);
}

.content {
    background-color: var(--content-color);
    box-shadow: var(--box-shadow);
    grid-area: content;
    margin: 0px 0px 40px 0;
    padding: 40px 60px;
}

.content img,
.content video {
    display: grid;
    justify-self: center;
    margin: var(--indent-size) auto;
}

.codeblock {
    position: relative;
}

.clipboard {  
    background-image: url('svg/clipboard.svg');
    border-radius: 2px;
    cursor: pointer;
    display: inline;
    height: 24px;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 24px;
}

.clipboard span {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 30px;
    right: -7px;
}

.clipboard:hover {
    background-image: url('svg/clipboard.svg#hover');
}

.nav-link {
    align-items: center;
    display: grid;
    text-align: center;
}

.nav-link:last-child {
    border: none;
}

.article-end {
    color: var(--shaded-color);
    font-size: var(--p-size);
    margin-top: var(--indent-size);
    margin-bottom: 0;
    margin-left: var(--indent-size);
}

/* hljs customization */
.hljs ::selection,.hljs::selection {
    background-color: #4a4900;
}

.hljs-ln-n {
    padding-right: 15px;
}

td.hljs-ln-numbers {
    color: var(--shaded-color);
}
